@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --pattern: #33333355;
    --pattern-light: #0a0a0acf;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
  min-height: 100svh;
  background-image:
    radial-gradient(circle at 50%, var(--pattern), var(--pattern-light), var(--background)),
    repeating-radial-gradient(circle at 0 0, transparent 0, var(--background) 10px),
    repeating-linear-gradient(var(--pattern), var(--background));
}

@theme {
  --animate-caret-blink: caret-blink 1.2s ease-out infinite;
  --animate-vibrate: vibrate 0.3s ease-in-out;

  @keyframes caret-blink {

    0%,
    70%,
    100% {
      opacity: 1;
    }

    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes vibrate {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
}
